@using System.Web.Optimization
@using StockSharer.Web.Areas.Settings.ViewModels
@model SettingsViewModel
@{
    ViewBag.Title = "Account";
}

<div class="page-content-holder">
    <div class="container">
        <div class="page-content">
            <div class="row">
                <div class="col-sm-4 col-md-3">
                    @Html.Partial("_Sidebar", new AccountSidebarViewModel{Page = "Account"})
                </div>
                <div class="col-sm-8 col-md-9">
                    <div class="settings-main">
                        <h1>Account</h1>
                        
                        <h2>Change your basic account settings</h2>
                        <hr/>
                        
                        @if (Model.Message != null)
                        {
                            <div class="alert @(Model.Success ? "alert-success" : "alert-danger")" role="alert">
                                <span class="glyphicon" aria-hidden="true"></span>
                                @Model.Message
                            </div>
                        }
                        
                        <form class="form-horizontal" action="" method="POST">
                            <div class="form-group">
                                <label for="Email" class="col-sm-3 control-label">Email</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" id="Email" value="@User.Email" disabled>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="Forename" class="col-sm-3 control-label">Forename</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" name="Forename" value="@User.Forename">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="Surname" class="col-sm-3 control-label">Surname</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" name="Surname" value="@User.Surname">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="submit" class="btn btn-primary">Save</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section styles
{
    @Styles.Render("~/bundles/styles/settings")
}