@using StockSharer.Web.Areas.Settings.ViewModels
@model MyGamesViewModel
@{
    ViewBag.Title = "My games";
}

<div class="page-content-holder">
    <div class="container">
        <div class="page-content">
            <div class="row">
                <div class="col-sm-4 col-md-3">
                    @Html.Partial("_Sidebar", new AccountSidebarViewModel{Page = "Games"})
                </div>
                <div class="col-sm-8 col-md-9">
                    <div class="settings-main">
                        <h1>Games</h1>
                        <h2>Manage your games catalogue</h2>
                        <hr/>
                        <form method="GET" action="search" id="game-search">
                            <input type="text" name="term" placeholder="Search for a game to add"/>
                        </form>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>&nbsp;</th>
                                        <th>Game</th>
                                        <th>Platform</th>
                                        <th>Date added</th>
                                        <th>Current status</th>
                                    </tr>
                                </thead>
                                <tbody class="js-game-list">
                                    @foreach (var game in Model.MyGames)
                                    {
                                        <tr>
                                            <td><img src="@game.HostedImageUrl" width="50" height="63"/></td>
                                            <td>@game.GameName</td>
                                            <td>@game.PlatformName</td>
                                            <td>@game.DateAdded.ToString("d MMMM yyyy")</td>
                                            <td>@game.AvailabilityName</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section styles
{
    @Styles.Render("~/bundles/styles/settings")
}

@section scripts{
    @Scripts.Render("~/bundles/scripts/myGames")
}