@model StockSharer.Web.Areas.Settings.Controllers.SearchViewModel
@{
    Layout = null;
}

<h2>Search results (4) for: <strong>"@Model.Term"</strong></h2>
<ul>
    @foreach (var game in Model.Games)
    {
        <li>
            <a href="#">
                <img src="@game.HostedImageUrl" width="50" height="63" alt="@game.GameName"/>
                @game.GameName - <span class="platform-name">@game.PlatformName</span>
            </a>
        </li>   
    }
    @if (!Model.Games.Any())
    {
        <li>No results found</li>
    }
</ul>