@model StockSharer.Web.ViewModels.SearchResultsViewModel

<div class="result-filter">
    <h2>@Model.SearchResults.Count games found</h2>
    <form data-toggle="validator" method="GET">
        <div class="form-group">
            <label>Platform</label>
            <select class="form-control" name="platformid">
                <option value="">Any</option>
                <option selected="@(Model.SearchFilter.PlatformId == 1)" value="1">Xbox One</option>
                <option selected="@(Model.SearchFilter.PlatformId == 4)" value="4">PS4</option>
                <option selected="@(Model.SearchFilter.PlatformId == 2)" value="2">Xbox 360</option>
                <option selected="@(Model.SearchFilter.PlatformId == 3)" value="3">PS3</option>
            </select>
            <span class="help-block with-errors"></span>
        </div>
                                
        <div class="form-group">
            <label>Status</label>
            <select class="form-control" name="stockstatusid">
                <option value="">Any</option>
                <option selected="@(Model.SearchFilter.StockStatusId == 1)" value="1">Available</option>
                <option selected="@(Model.SearchFilter.StockStatusId == 2)" value="2">On loan</option>
            </select>
            <span class="help-block with-errors"></span>
        </div>
                                
        <div class="form-group">
            <label>Lender</label>
            <select class="form-control" name="storetypeid">
                <option value="">Any</option>
                <option selected="@(Model.SearchFilter.StoreTypeId == 1)" value="1">Private</option>
                <option selected="@(Model.SearchFilter.StoreTypeId == 2)" value="2">Business</option>
            </select>
            <span class="help-block with-errors"></span>
        </div>
                                    
        <div class="form-group">
            <input type="submit" class="btn btn-block btn-primary" value="Search"/>
        </div>
    </form>
</div>