@using StockSharer.Web.Areas.Settings.ViewModels
@model StockSharer.Web.Areas.Settings.Models.ViewModels.RequestsViewModel
@{
    ViewBag.Title = "Game requests";
}

<div class="page-content-holder">
    <div class="container">
        <div class="page-content">
            <div class="row">
                <div class="col-sm-4 col-md-3">
                    @Html.Partial("_Sidebar", new AccountSidebarViewModel{Page = "Requests"})
                </div>
                <div class="col-sm-8 col-md-9">
                    <div class="settings-main">
                        <h1>Game requests</h1>
                        <h2>You have the following requests</h2>
                        <hr/>
                        <table class="table table-striped table-condensed table-hover">
                            <thead>
                                <tr>
                                    <th>
                                        Date
                                    </th>
                                    <th>
                                        Origin
                                    </th>
                                    <th>
                                        Game
                                    </th>
                                    <th>
                                        Nights
                                    </th>
                                    <th>
                                        Total
                                    </th>
                                    <th>
                                        Status
                                    </th>
                                    <th>
                                        Actions
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var request in Model.Requests)
                                {
                                    <tr>
                                        <td>
                                            @(request.IsToday ? request.Timestamp.ToString("HH:mm:ss") : request.StartDate.ToString("dd-MMM-yyyy"))
                                        </td>
                                        <td>
                                            @request.Origin
                                        </td>
                                        <td>
                                            @request.GameName
                                        </td>
                                        <td>
                                            @request.Nights
                                        </td>
                                        <td>
                                            @string.Format("{0:C}", request.TotalPrice)
                                        </td>
                                        <td>
                                            @if (request.Accepted.HasValue || request.Rejected.HasValue)
                                            {
                                                if (request.Accepted.HasValue)
                                                {
                                                    @:Accepted (@(request.AcceptedToday ? request.Accepted.Value.ToString("HH:mm:ss") : request.Accepted.Value.ToString("dd-MMM-yyyy")))
                                                }
                                                else
                                                {
                                                    @:Rejected (@(request.RejectedToday ? request.Rejected.Value.ToString("HH:mm:ss") : request.Rejected.Value.ToString("dd-MMM-yyyy")))
                                                }
                                            }
                                            else if (!request.IsToday)
                                            {
                                                @:Request expired
                                            }
                                            else
                                            {
                                                @:Open
                                            }
                                        </td>
                                        <td>
                                            @if (request.Received && request.IsToday && !request.Accepted.HasValue && !request.Rejected.HasValue)
                                            {
                                                <form class="inline-form" method="POST" action="/settings/requests/accept">
                                                    @Html.AntiForgeryToken()
                                                    <input type="hidden" name="Reference" value="@request.Reference"/>
                                                    <button class="btn btn-primary">Accept</button>
                                                </form>
                                                <form class="inline-form" method="POST" action="/settings/requests/reject">
                                                    @Html.AntiForgeryToken()
                                                    <input type="hidden" name="Reference" value="@request.Reference"/>
                                                    <button class="btn btn-default">Reject</button>
                                                </form>
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section styles
{
    @Styles.Render("~/bundles/styles/settings")
}

@section scripts
{
    @Styles.Render("~/bundles/scripts/requests")
}