@using System.Web.Optimization
@using StockSharer.Web.Areas.Settings.ViewModels
@model StockSharer.Web.Areas.Settings.Controllers.AddressViewModel
@{
    ViewBag.Title = "Address";
}

<div class="page-content-holder">
    <div class="container">
        <div class="page-content">
            <div class="row">
                <div class="col-sm-4 col-md-3">
                    @Html.Partial("_Sidebar", new AccountSidebarViewModel{Page = "Address"})
                </div>
                <div class="col-sm-8 col-md-9">
                    <div class="settings-main">
                        <h1>Address</h1>
                        <h2>You must have a valid address to borrow or rent out games</h2>
                        <hr/>
                        
                        @if (Model.Message != null)
                        {
                            <div class="alert @(Model.Success ? "alert-success" : "alert-danger")" role="alert">
                                <span class="glyphicon" aria-hidden="true"></span>
                                @Model.Message
                            </div>
                        }
                        
                        <form class="form-horizontal" method="POST" data-toggle="validator">
                            <div class="form-group">
                                <label for="Line1" class="col-sm-3 control-label">House number or name</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" name="Line1" value="@Model.Address.Line1" required data-error="Please enter your house number or name"/>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="Line2" class="col-sm-3 control-label">Street</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" name="Line2" value="@Model.Address.Line2" required data-error="Please enter street"/>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="Town" class="col-sm-3 control-label">Town</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" name="Town" value="@Model.Address.Town" required data-error="Please enter town"/>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="County" class="col-sm-3 control-label">County</label>
                                <div class="col-sm-4">
                                    <select class="form-control" name="County" required data-error="Please enter county">
                                        <option value="">Select county..</option>
                                        <option selected="@(Model.Address.County == "Avon")" value="Avon">Avon</option>
                                        <option selected="@(Model.Address.County == "Bedfordshire")" value="Bedfordshire">Bedfordshire</option>
                                        <option selected="@(Model.Address.County == "Berkshire")" value="Berkshire">Berkshire</option>
                                        <option selected="@(Model.Address.County == "Borders")" value="Borders">Borders</option>
                                        <option selected="@(Model.Address.County == "Buckinghamshire")" value="Buckinghamshire">Buckinghamshire</option>
                                        <option selected="@(Model.Address.County == "Cambridgeshire")" value="Cambridgeshire">Cambridgeshire</option>
                                        <option selected="@(Model.Address.County == "Central")" value="Central">Central</option>
                                        <option selected="@(Model.Address.County == "Cheshire")" value="Cheshire">Cheshire</option>
                                        <option selected="@(Model.Address.County == "Cleveland")" value="Cleveland">Cleveland</option>
                                        <option selected="@(Model.Address.County == "Clwyd")" value="Clwyd">Clwyd</option>
                                        <option selected="@(Model.Address.County == "Cornwall")" value="Cornwall">Cornwall</option>
                                        <option selected="@(Model.Address.County == "County Antrim")" value="County Antrim">County Antrim</option>
                                        <option selected="@(Model.Address.County == "County Armagh")" value="County Armagh">County Armagh</option>
                                        <option selected="@(Model.Address.County == "County Down")" value="County Down">County Down</option>
                                        <option selected="@(Model.Address.County == "County Fermanagh")" value="County Fermanagh">County Fermanagh</option>
                                        <option selected="@(Model.Address.County == "County Londonderry")" value="County Londonderry">County Londonderry</option>
                                        <option selected="@(Model.Address.County == "County Tyrone")" value="County Tyrone">County Tyrone</option>
                                        <option selected="@(Model.Address.County == "Cumbria")" value="Cumbria">Cumbria</option>
                                        <option selected="@(Model.Address.County == "Derbyshire")" value="Derbyshire">Derbyshire</option>
                                        <option selected="@(Model.Address.County == "Devon")" value="Devon">Devon</option>
                                        <option selected="@(Model.Address.County == "Dorset")" value="Dorset">Dorset</option>
                                        <option selected="@(Model.Address.County == "Dumfries and Galloway")" value="Dumfries and Galloway">Dumfries and Galloway</option>
                                        <option selected="@(Model.Address.County == "Durham")" value="Durham">Durham</option>
                                        <option selected="@(Model.Address.County == "Dyfed")" value="Dyfed">Dyfed</option>
                                        <option selected="@(Model.Address.County == "East Sussex")" value="East Sussex">East Sussex</option>
                                        <option selected="@(Model.Address.County == "Essex")" value="Essex">Essex</option>
                                        <option selected="@(Model.Address.County == "Fife")" value="Fife">Fife</option>
                                        <option selected="@(Model.Address.County == "Gloucestershire")" value="Gloucestershire">Gloucestershire</option>
                                        <option selected="@(Model.Address.County == "Grampian")" value="Grampian">Grampian</option>
                                        <option selected="@(Model.Address.County == "Greater Manchester")" value="Greater Manchester">Greater Manchester</option>
                                        <option selected="@(Model.Address.County == "Gwent")" value="Gwent">Gwent</option>
                                        <option selected="@(Model.Address.County == "Gwynedd County")" value="Gwynedd County">Gwynedd County</option>
                                        <option selected="@(Model.Address.County == "Hampshire")" value="Hampshire">Hampshire</option>
                                        <option selected="@(Model.Address.County == "Herefordshire")" value="Herefordshire">Herefordshire</option>
                                        <option selected="@(Model.Address.County == "Hertfordshire")" value="Hertfordshire">Hertfordshire</option>
                                        <option selected="@(Model.Address.County == "Highlands and Islands")" value="Highlands and Islands">Highlands and Islands</option>
                                        <option selected="@(Model.Address.County == "Humberside")" value="Humberside">Humberside</option>
                                        <option selected="@(Model.Address.County == "Isle of Wight")" value="Isle of Wight">Isle of Wight</option>
                                        <option selected="@(Model.Address.County == "Kent")" value="Kent">Kent</option>
                                        <option selected="@(Model.Address.County == "Lancashire")" value="Lancashire">Lancashire</option>
                                        <option selected="@(Model.Address.County == "Leicestershire")" value="Leicestershire">Leicestershire</option>
                                        <option selected="@(Model.Address.County == "Lincolnshire")" value="Lincolnshire">Lincolnshire</option>
                                        <option selected="@(Model.Address.County == "Lothian")" value="Lothian">Lothian</option>
                                        <option selected="@(Model.Address.County == "Merseyside")" value="Merseyside">Merseyside</option>
                                        <option selected="@(Model.Address.County == "Mid Glamorgan")" value="Mid Glamorgan">Mid Glamorgan</option>
                                        <option selected="@(Model.Address.County == "Norfolk")" value="Norfolk">Norfolk</option>
                                        <option selected="@(Model.Address.County == "North Yorkshire")" value="North Yorkshire">North Yorkshire</option>
                                        <option selected="@(Model.Address.County == "Northamptonshire")" value="Northamptonshire">Northamptonshire</option>
                                        <option selected="@(Model.Address.County == "Northumberland")" value="Northumberland">Northumberland</option>
                                        <option selected="@(Model.Address.County == "Nottinghamshire")" value="Nottinghamshire">Nottinghamshire</option>
                                        <option selected="@(Model.Address.County == "Oxfordshire")" value="Oxfordshire">Oxfordshire</option>
                                        <option selected="@(Model.Address.County == "Powys")" value="Powys">Powys</option>
                                        <option selected="@(Model.Address.County == "Rutland")" value="Rutland">Rutland</option>
                                        <option selected="@(Model.Address.County == "Shropshire")" value="Shropshire">Shropshire</option>
                                        <option selected="@(Model.Address.County == "Somerset")" value="Somerset">Somerset</option>
                                        <option selected="@(Model.Address.County == "South Glamorgan")" value="South Glamorgan">South Glamorgan</option>
                                        <option selected="@(Model.Address.County == "South Yorkshire")" value="South Yorkshire">South Yorkshire</option>
                                        <option selected="@(Model.Address.County == "Staffordshire")" value="Staffordshire">Staffordshire</option>
                                        <option selected="@(Model.Address.County == "Strathclyde")" value="Strathclyde">Strathclyde</option>
                                        <option selected="@(Model.Address.County == "Suffolk")" value="Suffolk">Suffolk</option>
                                        <option selected="@(Model.Address.County == "Surrey")" value="Surrey">Surrey</option>
                                        <option selected="@(Model.Address.County == "Tayside")" value="Tayside">Tayside</option>
                                        <option selected="@(Model.Address.County == "Tyne and Wear")" value="Tyne and Wear">Tyne and Wear</option>
                                        <option selected="@(Model.Address.County == "Warwickshire")" value="Warwickshire">Warwickshire</option>
                                        <option selected="@(Model.Address.County == "West Glamorgan")" value="West Glamorgan">West Glamorgan</option>
                                        <option selected="@(Model.Address.County == "West Midlands")" value="West Midlands">West Midlands</option>
                                        <option selected="@(Model.Address.County == "West Sussex")" value="West Sussex">West Sussex</option>
                                        <option selected="@(Model.Address.County == "West Yorkshire")" value="West Yorkshire">West Yorkshire</option>
                                        <option selected="@(Model.Address.County == "Wiltshire")" value="Wiltshire">Wiltshire</option>
                                        <option selected="@(Model.Address.County == "Worcestershire")" value="Worcestershire">Worcestershire</option>
                                    </select>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="Postcode" class="col-sm-3 control-label">Postcode</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" name="Postcode" value="@Model.Address.Postcode" pattern="^[A-Za-z]{1,2}[0-9][0-9A-Za-z]?\s?[0-9][A-Za-z]{2}$" data-error="Please enter a valid UK postcode" required/>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="submit" class="btn btn-primary">Save</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section styles
{
    @Styles.Render("~/bundles/styles/settings")
}