@model StockSharer.Web.Areas.Settings.ViewModels.AccountSidebarViewModel
<div class="settings-sidebar">
    <h2>@User.FullName</h2>
    <hr/>
    <ul class="nav nav-pills nav-stacked">
        <li role="presentation" @(Model.Page == "Account" ? "class=active" : "")><a href="/settings/account">Account</a></li>
        <li role="presentation" @(Model.Page == "Privacy" ? "class=active" : "")><a href="/settings/privacy">Privacy</a></li>
        <li role="presentation" @(Model.Page == "Address" ? "class=active" : "")><a href="/settings/address">Address</a></li>
        <li role="presentation" @(Model.Page == "Balance" ? "class=active" : "")><a href="/settings/balance">Balance</a></li>
        <li role="presentation" @(Model.Page == "Games" ? "class=active" : "")><a href="/settings/games">My games</a></li>
        <li role="presentation" @(Model.Page == "Requests" ? "class=active" : "")><a href="/settings/requests">Game requests</a></li>
    </ul>
</div>