@using System.Web.Optimization
@model StockSharer.Web.Controllers.ChangePasswordViewModel
@{
    ViewBag.Title = "Change password";
}
<div class="page-content-holder">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-offset-3 col-sm-6">
                <div class="page-content login-holder">
                    <h1 class="text-center">Reset password</h1>
                    <h2 class="text-center">Enter your email below</h2>
                    <form method="POST" action="/user/ChangePassword" data-toggle="validator">
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="ChangePassword.UserId" value="@Model.ChangePassword.UserId"/>
                        @if (Model.Message != null)
                        {
                            <div class="alert alert-warning" role="alert">
                                <span class="glyphicon" aria-hidden="true"></span>
                                <span class="sr-only">@Model.Message</span>
                                @Model.Message
                            </div>
                        }
                        <p class="text-center">Please enter your new password and confirm it below.</p>
                        <div class="form-group">
                            <input type="password" class="form-control" name="ChangePassword.Password" placeholder="Password" required data-error="Please enter a valid password">
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" name="ChangePassword.ConfirmPassword" placeholder="Confirm password" required data-error="Please enter a valid password">
                            <div class="help-block with-errors"></div>
                        </div>
                        <button type="submit" class="btn btn-default btn-block main-cta-btn main-cta-btn-primary">Change password</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section styles
{
    @Styles.Render("~/bundles/styles/user")
}